<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <title>No-Lone Zone</title>
  </head>
  <body>
    {{{yield}}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var registerPhone = function(){
        phone = prompt('phone number?');
        socket.emit('registerPhone', {phone: phone});
      }
      socket.on('phoneValid', function(){
        alert('phone validated!');
      });
    </script>
  </body>
</html>